*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'poppins', sans-serif;
}

.cabecalho{
    background-color: rgb(223, 183, 179);
    color: rgb(223, 183, 179);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.agrinho{
    background-color: rgb(223, 183, 179);
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 30px;
}

.agrinho-texto-dois{
    background-image: linear-gradient(223, 183, 179);
    color: rgb(228, 44, 44);
    display: flex;
    font-size: 50px;

}

.agrinho-texto-um{
    background-image: linear-gradient(223, 183, 179);
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 30px;
}

.agrinho-titulo{
    background-image: linear-gradient(223, 183, 179);
    color: rgb(228, 44, 44);
    display: flex;
    font-size: 50px;
}

.agrinho-texto-tres{
    background-image: linear-gradient(223, 183, 179);
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 30px;
}


